<div class="item-name">
    <%= item.name %>
</div>
  
   <div class="item-price">
      <%= l item.price %>
   </div>
 
    <div class="item-description ">
      <%= item.description  %>
    </div>
    
     <div> 
      <%= image_tag item.image, class: 'item-image' if item.image.attached? %>
    </div>